form {
    width: 100%;
    max-width: 550px;
}

input, textarea {
    display: block;
    margin-right: 0 !important;
    width: 100%;
    margin: 0 0 8px 0;
    padding: 2px 5px;
    border: 1px solid black;
    border-radius: 5px;
    font-family: inherit;
    font-size: 1.1rem;
    line-height: 145%;
    background: #eee;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    box-shadow: 3px 3px 3px gray;
}

textarea {
    resize: vertical;
}

#send {
    display: block;
    width: 25%;
    margin: 5px 1px;
    white-space: normal;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-transition-duration: 0.3s;
}

#send:hover {
    background: #fff;
}

#send:active {
    background: #eee;
}

#send:focus {
    background: #fff;
}

input:focus, textarea:focus {
    outline: none;
    border: 1px solid #FF3103;
}

.doubleColumn {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin: 0.5rem 0;
}

.main {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
}

.main p {
    max-width: 550px;
}

.g-recaptcha {
    margin: 0;
    width: 300px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.response {
    text-align: center;
}

#was-sent {
    color: #FF3103;
}

#has-error {
    color: #EF233C;
}

@media screen and (orientation: portrait), (max-width: 630px) {
    form {
        width: 100%;
        padding: 0.5rem;
    }

    .doubleColumn {
        flex-direction: column;
        justify-content: space-around;
    }

    #send {
        width: 302px;
    }

    .main p {
        width: 90%;
    }
}

@media screen and (max-width: 550px) {
    .main {
        margin: 0;
    }
}
