html {
    --black: rgba(10, 16, 13, 1);
    --green: rgba(185, 186, 163, 1);
    --gray: rgba(214, 213, 201, 1);
    --silver: rgba(168, 167, 158, 1);
    --red-brown: rgba(162, 44, 41, 1);
    --auburn: rgba(144, 41, 35, 1);
}

body {
    margin: 0;
    background: var(--gray);
    color: black;
    font-family: 'Roboto', sans-serif;
}

.container {
    display: flex;
    flex-direction: column;
    margin: 0 4rem 0 4rem;
}

    .flexBox {
        font-size: 1.2rem;
    }

.nav {
/*    background: var(--silver);*/
    justify-content: flex-end;
    padding: 2px 0 2px 0;
    position: absolute;
    top: 0;
    right: 0;
    flex-direction: row;
    margin: 0 0 0 0;
    width: 100%;
}

    .navItem {
        background: var(--red-brown);
        outline: 2px solid var(--auburn);
        -webkit-transition-duration: 0.3s;
        width: 10%;
        max-width: 400px;
    }

    .navItem:hover {
        background: #D83836;
    }

    .navItem:active {
        background: #BA302E;
    }

    .navLink {
        text-decoration: none;
        color: var(--black);
    }

    .navText {
        text-align: center;
        vertical-align: middle;
        color: #FCFFF7;
        font-size: 1.4rem;
        margin: 0;
        /*padding: 0.4rem 1rem 0.4rem 1rem;*/
        height: 100%;
        width: 100%;
        padding: 0.3rem 0 0.3rem 0;
        font-family: 'Roboto Condensed', sans-serif;
    }

    .burger {
        display: none;
    }

.billboard {
    height: 100%;
    width: 100%;
    max-height: 500px;
    background-image: url(../img/landscapecrop.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

    .billboardText {
        position: absolute;
        margin: 0 auto;

    }

@media all and (max-width: 1000px) {
    .nav {
    justify-content: flex-end;
    padding: 2px 0 2px 0;
    position: absolute;
    width: 100%;
    top: 0;
    right: 0;
}

        .navItem {
            background: var(--red-brown);
            outline: 2px solid var(--auburn);
            -webkit-transition-duration: 0.3s;
            width: 30%;
            max-width: 400px;
            display: none;
        }

        .navItem:hover {
            background: #D83836;
        }

        .navItem:active {
            background: #BA302E;
        }

        .navLink {
            text-decoration: none;
            color: var(--black);
        }

        .navText {
            text-align: center;
            vertical-align: middle;
            color: #FCFFF7;
            font-size: 1.2rem;
            margin: 0;
            /*padding: 0.4rem 1rem 0.4rem 1rem;*/
            height: 100%;
            width: 100%;
            padding: 0.3rem 0 0.3rem 0;
            font-family: 'Roboto Condensed', sans-serif;
            height: 100%;
        }

        .burger {
            display: flex;
            align-content: center;
        }

            .containerBurger {

            }

            #burgerImg {
                height: 38px;
                width: auto;
            }
}
