html {
    --black: rgba(10, 16, 13, 1);
    --green: rgba(185, 186, 163, 1);
    --gray: rgba(214, 213, 201, 1);
    --silver: rgba(168, 167, 158, 1);
    --red-brown: rgba(162, 44, 41, 1);
    --auburn: rgba(144, 41, 35, 1);
}

body {
    margin: 0;
    background: var(--gray);
    color: black;
    font-family: 'Roboto', sans-serif;
}

.container {
    display: flex;
    flex-direction: column;
    margin: 0 4rem 0 4rem;
}

.billboard {
    width: 100%;
    height: 50%;
    position: relative;
}

.billboardImage {
    height: 400px;
    width: 1000px;
    height: auto;
    width: 100%;
}

.billboardText {
    position: absolute;
    top: 75%;
    left: 50%;
    transform: (-50%, -50%);
}

.nav {
    background: var(--silver);
    justify-content: flex-end;
    padding: 2px 0 2px 0;
    position: relative;
    flex-direction: row;
    margin: 0 0 0 0;
}

    .navItem {
        background: var(--red-brown);
        outline: 2px solid var(--auburn);
        -webkit-transition-duration: 0.3s;
        width: 10%;
        max-width: 400px;
    }

    .navItem:hover {
        background: #D83836;
    }

    .navItem:active {
        background: #BA302E;
    }

    .navLink {
        text-decoration: none;
        color: var(--black);
    }

    .navText {
        text-align: center;
        vertical-align: middle;
        color: #FCFFF7;
        font-size: 1.4rem;
        margin: 0;
        /*padding: 0.4rem 1rem 0.4rem 1rem;*/
        height: 100%;
        width: 100%;
        padding: 0.3rem 0 0.3rem 0;
        font-family: 'Roboto Condensed', sans-serif;
    }

    .burger {
        display: none;
    }

.flexBox {

}

@media all and (max-width: 800px) {
    .nav {
    background: var(--silver);
    justify-content: flex-end;
    padding: 2px 0 2px 0;
    position: relative;
}

        .navItem {
            background: var(--red-brown);
            outline: 2px solid var(--auburn);
            -webkit-transition-duration: 0.3s;
            width: 10%;
            max-width: 400px;
            display: none;
        }

        .navItem:hover {
            background: #D83836;
        }

        .navItem:active {
            background: #BA302E;
        }

        .navLink {
            text-decoration: none;
            color: var(--black);
        }

        .navText {
            text-align: center;
            vertical-align: middle;
            color: #FCFFF7;
            font-size: 1.2rem;
            margin: 0;
            /*padding: 0.4rem 1rem 0.4rem 1rem;*/
            height: 100%;
            width: 100%;
            padding: 0.3rem 0 0.3rem 0;
            font-family: 'Roboto Condensed', sans-serif;
            height: 100%;
        }

        .burger {
            display: flex;
            align-content: center;
        }

    .flexBox {

    }
}
