*, *::before, *::after {
    box-sizing: border-box !important;
    margin: 0;
    padding: 0;
}

a, p, h1, h2, h4, h5, ol, ul, img, pre, code {
    margin-bottom: 0.7rem;
}

img {
    margin-top: 0.7rem;
}

ol, ul {
    margin-left: 2rem;
}

html {
    background: #fdfdfd;
    margin: 0;
    overflow-y: scroll;
    size: 105%;
    width: 100%;
}

body {
    font-family: 'Segoe UI', sans-serif;
    font-size: 1.1rem;
    line-height: 145%;
    margin-bottom: 2rem !important;
    margin: 0;
    width: 100%;
}

h2 {
    text-align: center;
}

h4 {
    margin: 0.4rem;
}

p a:link, p a:visited {
    color: #FF3103;
    margin: 0 !important;
    text-decoration: none;
}

p a:hover, p a:focus, p a:active {
    color: #FF3103;
    text-decoration: underline;
}

ul li p {
    margin: 0.2rem;
}

::-webkit-scrollbar {
    background: #eee;
    height: 12px;
    width: 12px;
}

::-webkit-scrollbar-thumb {
    -webkit-border-radius: 0;
    background: #FF3103;
}

::-webkit-scrollbar-thumb:hover {
    -webkit-border-radius: 0;
    background: #FF5028;
}

.content {
    height: auto;
    margin: 0 auto;
    max-width: 77rem;
    padding: 0;
    width: 65%;
}

.text {
    display: flex;
    flex-direction: column;
    margin: 0;
}

.text * {
    margin: 1rem 0 0 0;
}

    .name {
        align-items: center;
        display: flex;
        justify-content: center;
        margin: 2rem auto 0 auto;
        width: 100%;
    }
        .name h1 {
            font-family: 'Ubuntu', 'Segoe UI', sans-serif;
            font-size: 3rem;
            font-weight: 600;
            margin: 0;
        }

    nav {
        align-content: center;
        background: #FF3103;
        border-radius: 5px;
        box-shadow: 0 5px 5px gray;
        display: flex;
        flex-direction: row;
        justify-content: center;
        margin: 2rem auto 0 auto;
        padding: 1px;
        width: 100%;
    }
        nav a {
            -webkit-transition-duration: 0.3s;
            align-items: center;
            background: rgb(238, 238, 238);
            color: black;
            display: flex;
            font-family: 'Ubuntu', 'Segoe UI', sans-serif;
            font-size: 1.5rem;
            font-weight: 300;
            height: 2rem;
            justify-content: center;
            margin: 1px;
            padding: 0.25rem 0;
            text-decoration: none;
            width: 33.33%;

            /* Removes highlights created by tapping on navigation links */
            -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
            -webkit-touch-callout: none;
            -webkit-user-select: none;
            -khtml-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;
        }

        nav a p {
            margin: 0;
        }

        nav a:hover {
            background-color: rgba(238, 238, 238, 0.4);
        }

        nav a:focus {
            outline: none;
            background-color: rgba(238, 238, 238, 0.4);
        }

        nav a:active {
            background-color: rgba(238, 238, 238, 0.6);
        }   

    .container {
        align-content: center;
        display: flex;
        flex-direction: column;
        margin: 0.5rem auto;
        width: 100%;
    }
        .imgContainer {
            height: auto;
            width: 100%;
        }
            .imgContainer img {
                border-radius: 20px;
                box-shadow: 0 5px 5px grey;
                height: auto;
                margin-bottom: 0;
                width: 100%;
            }

    .section {
        background-color: rgba(255, 49, 3, 0.2);
        border-radius: 10px;
        box-shadow: 0 5px 5px gray;
        left: 0;
        margin: 0.2rem 0;
        padding: 0.6rem;
        right: 0;
        width: 100%;
        word-wrap: break-word;
    }

#navLeft {
    border-radius: 4px 0 0 4px;
}

#navRight {
    border-radius: 0 4px 4px 0;
}


@media screen and (orientation: portrait), (max-width: 550px) {
    html {
        margin: 0;
        size: 150%;
        width: 100%;
    }

    body {
        font-family: 'Verdana', sans-serif;
        font-size: 1.3rem;
        line-height: 145%;
        margin: 0 !important;
        width: 100%;
    }

    img {
        margin: 0;
    }

    ::-webkit-scrollbar {
        background: auto;
        height: auto;
        width: auto;
    }

    ::-webkit-scrollbar-thumb {
        -webkit-border-radius: auto;
        background: auto;
    }

    ::-webkit-scrollbar-thumb:hover {
        -webkit-border-radius: auto;
        background: auto;
    }

    .content {
        height: auto;
        margin: 0 auto;
        padding: 0;
        width: 100%;
    }

    .section {
        border-left-style: none;
        border-radius: 0;
        border-right-style: none;
        width: 100%;
    }

        .name {
            align-items: center;
            display: flex;
            justify-content: center;
            margin: 1rem auto;
            width: 100%;
        }
            .name h1 {
                font-family: 'Ubuntu', 'Segoe UI', sans-serif;
                font-size: 2rem;
                font-weight: 600;
                margin: 0;
            }

        nav {
            border-radius: 0;
            display: block;
            height: auto;
            margin: 0;
            padding: 2px 0;
        }

            nav a {
                font-weight: 500;
                height: auto;
                margin: 0;
                width: 100%;
            }

                nav a p {
                    margin: 0.2rem auto;
                }

            #navCenter {
                margin: 2px 0;
            }

        .container {
            align-content: center;
            display: flex;
            margin: 0 auto;
            padding: 0 0 0.5rem 0;
            width: 100%;
        }
            .imgContainer {
                height: auto;
                width: 100%;
            }
                .imgContainer img {
                    border-radius: 0;
                    height: auto;
                    width: 100%;
                }

        .text {
            display: block;
            margin: 0 auto;
            padding: 0.5rem;
            width: 90%;
        }

    #navLeft {
        border-radius: 0;
    }

    #navRight {
        border-radius: 0;
    }
}